<ion-header>
    <ion-toolbar>
      <ion-title>signup</ion-title>
      <ion-buttons slot="start"> 
          <ion-back-button defaultHref="home">
          </ion-back-button> 	
      </ion-buttons> 
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <ion-input placeholder="Email"></ion-input>
    <ion-input placeholder="Password" type="password"></ion-input>
    <ion-input placeholder="Repeat Password" type="password"></ion-input>

    <ion-button expand="full">Register</ion-button>
  
  </ion-content>
  